### macOS ###
*.DS_Store
.AppleDouble
.LSOverride
*.sh
*.command

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local.py
db.sqlite3
media

### React ###
*node_modules
frontend/static/frontend/*

### vscode ###
.vscode/